.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.label {
  color: var(--color-text-muted);
  font-weight: 500;
}

.input {
  background-color: var(--surface-light);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-accent-soft);
}