.base {
  font-size: var(--font-size-sm);
  font-weight: 500;
  padding: var(--space-sm) var(--space-base);
  border-radius: var(--radius-pill);
  border: none;
  box-shadow: var(--shadow-sm);
  color: var(--color-text-main);
}

.base:hover {
  cursor: pointer;
  filter: brightness(0.95);
  transform: translateY(-2px);
}

.base:active {
  transform: scale(0.98);
  filter: brightness(0.9);
}

.primary {
  background-color: var(--color-secondary);
}

.secondary {
  background-color: var(--color-primary);
}

.submit {
  background-color: var(--color-primary);
  border-radius: var(--radius-xs);
  padding: var(--space-xs);
}

.transparent {
  background-color: transparent;
  padding: 0;
  font-size: var(--font-size-xs);
  box-shadow: none;
}