.container {
  display: flex;
  justify-content: center;
  background-color: var(--bg-main);
  padding: var(--space-lg) var(--space-base);
  scroll-margin-top: 60px;
}

.center {
  align-items: center;
}

.gradient {
  background: var(--bg-secondary);
}

.inner {
  gap: var(--space-base);
  display: flex;
  flex-direction: column;
  max-width: 700px;
}