.container {
  display: flex;
  justify-content: center;
  padding: var(--space-lg) var(--space-base);
}

.center {
  align-items: center;
}

.gradient {
  background: var(--bg-gradient);
}

.inner {
  gap: var(--space-base);
  display: flex;
  flex-direction: column;
  max-width: 800px;
}