.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-gradient);
  padding: var(--space-lg) var(--space-base);
  gap: var(--space-base);
}

.profileImg {
  width:200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--radius-pill);
}

.title {
  color: var(--color-primary);
  font-size: var(--font-size-md);
  font-weight: 500;
}

.description {
  text-align: center;
}

.buttonWrapper {
  display: flex;
  gap: var(--space-sm);
}

.iconWrapper {
  display: flex;
  gap: var(--space-base);
}

.iconLink {
  color: var(--color-primary);
  font-size: 24px;
}

.iconLink:hover {
  filter: brightness(0.95);
  transform: translateY(-2px);
}

.iconLink:active {
  transform: scale(0.98);
  filter: brightness(0.9);
}
