.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-base);
  height: 60px;
  position: sticky;
  top: 0;
  background-color: var(--bg-header);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo {
  font-size: var(--font-size-md);
}

.icon {
  font-size: var(--font-size-md);
  color: var(--color-text-main);
}

.icon svg {
  stroke-width: 0.5;
}