.subTitle {
  color: var(--color-primary);
  font-weight: 500;
  text-align: center;
}

.description {
  text-align: center;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  background-color: var(--bg-main);
  padding: var(--space-base);
  border-radius: var(--radius-sm);
}

.textareaWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.label {
  color: var(--color-text-muted);
  font-weight: 500;
}

.textarea {
  background-color: var(--surface-light);
  padding: var(--space-xs) var(--space-sm);
  min-height: 80px;
  resize: vertical;
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-accent-soft);
}

.feedback {
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-align: center;
  opacity: 0;
  animation: fadeInOut 10s forwards;
}

.link {
  display: inline-block;
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  text-decoration: underline;
}

.link:hover {
  transform: translateY(-2px);
}

.link:active {
  transform: scale(0.98);
}

@keyframes fadeInOut {
  0%, 20% { 
    opacity: 0;
  }
  20%, 60% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}