:root {
  /* Color Palatte */
  --bg-main: #ffffff;
  --bg-header: #ffffffd9;
  --bg-secondary: #F7F9F7;
  --border: #E5E7EB;
  
  --color-important: #2A3029;
  --color-primary: #77966B;
  --color-secondary: #FFB5BC;
  --color-accent: #C3E2FF;

  --color-text-main: #1C1F1C;
  --color-text-muted: #6B7280;

  /* shadow */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.08);

  /* space */
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-base: 24px;
  --space-lg: 36px;

  /* Radius */
  --radius-xs: 8px;
  --radius-sm: 16px;
  --radius-base: 24px;
  --radius-pill: 999px;

  /* Font size */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 28px;
}

/* Dark Mode */
html.dark {
  --bg-main: #121412;
  --bg-header: #121412d9;
  --bg-secondary: #1c1f1c;
  --border: #2d332d;
  
  --color-important: #dcf2da;
  --color-primary: #3d5236;
  --color-secondary: #7a3d44;
  --color-accent: #2a3b4a;
  
  --color-text-main: #b0b8b0;
  --color-text-muted: #7d857d;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 
    background-color 0.2s ease, 
    border-color 0.2s ease, 
    stroke 0.2s ease, 
    box-shadow 0.2s ease;
}

h1 {
  color: var(--color-important);
  font-size: var(--font-size-xl);
}

h2 {
  color: var(--color-important);
  font-size: var(--font-size-lg);
  text-align: center;
}

h3 {
  color: var(--color-text-main);
  font-size: var(--font-size-md);
}

p, a {
  color: var(--color-text-main);
  font-size: var(--font-size-base);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

button, a, svg {
  transition: all 0.3s ease;
}